@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
}
body {
    background: #eee;
    /* font-size: 14px; */
    color:#fff;
    margin: 0;
    padding: 0;
}
body p {
    color: #ddd;
}
body .light p {
    color: #1e1e1e
}
p.point {
    color: #3f9cd6;
}
.light p.point {
    color: #2f632f;
}
.loading {
    width: 100%; 
    height: 100%; 
    background-color: #000; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999;
    animation: loading 1s 3s forwards;
}
@keyframes loading {
    0% {top: 0;}
    100% {top: -100%;}
}
.loading .loading_wrap {
    width: 30%;
    height: 15%;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
}
.wrapper {
    width: 100px; 
    height: 100px; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}
.ld_1, .ld_2 {
    width: 100%;
    font-weight: 500; 
    font-size: 1rem; 
    color: #ddd; 
    position: absolute; 
    z-index: 99;
}
.ld_1 {animation: ld_1 1s 1.9s forwards;}
@keyframes ld_1 {
    0% {opacity: 1;}
    100% {opacity: 0;}
} 
.ld_2 {opacity: 0; animation: ld_2 1s 2s forwards;}
@keyframes ld_2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.wrapper img {
    display: block;
    width: 100px;
}
.wrapper ul li {
    opacity: 0;
    animation: bbb 3s forwards; 
    position: absolute; left: 50%; transform: translateX(-50%);
}
.wrapper ul li:nth-child(1) {animation-delay: 0;}
.wrapper ul li:nth-child(2) {animation-delay: 1s;}
.wrapper ul li:nth-child(3) {animation-delay: 2s;}
@keyframes bbb {
    0% {opacity: 0;} 
    5% {opacity: 1;} 
    25% {opacity: 1;}
    30% {opacity: 0;} 
    100% {opacity: 0;} 
}
/* Loading Area */

.left {
    width: 10%; 
    height: 100%; 
    position: fixed; 
    background-color: #1e1e1e; 
    left: 0; 
    z-index: 99; 
    opacity: .5;
    /* border-right: 1px solid #fff; */
}
.left:hover {
    opacity: .9;
}
.toggler-container {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggler {
    background-color: #3f9cd6;
    width: 100px;
    height: 45px;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 5%;
    transition: all 0.3s ease-in-out;
}
.circle {
    background-color: #1e1e1e;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
}
.circle.active {
    height: 35px;
    width: 35px;
    border-radius: 100px;
    position: absolute;
    left: 59%;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
}
.toggler:hover {
    background: #3f9cd6;
}
.toggler:hover .circle {
    background-color: #ddd;
}
.light .toggler:hover .circle {
    background-color: #1e1e1e;
}

/* 왼쪽에 글씨 나오는 거  */
.left .left_wrap {
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.left .left_wrap .left_txt {
    width: 100%;
    height: 100%;
    position: relative;
}
.left .tab {
    width: auto;
    height: auto; 
    font-size: 2rem;
   
    text-align: right;
    font-weight: bold;
    position: absolute;
    bottom: 23%;
    left: 5%;
}
.left .tab li {
    margin: .3rem 0;
}
.left .tab:hover {
    text-align: left;
}
.left .tab:hover li::first-letter {
    color: #3f9cd6;
}
.left .left_wrap .left_txt .appeal1 {
    display: block;
    width: 250%;
    position: absolute;
    left: -25%;
    top: 7%;
    transform-origin: bottom left;
    transform: rotate(90deg);
    font-size: 2rem;
    font-weight: bold;
}
.left .left_wrap .left_txt .appeal2 {
    display: block;
    width: 150%;
    position: absolute;
    left: -25%;
    bottom: 22%;
    transform-origin: bottom left;
    transform: rotate(90deg);
    font-size: 2rem;
    font-weight: bold;
}
.left .left_wrap .left_txt p {
    opacity: .5;
    color: #3f9cd6;
}
.light .left .left_wrap .left_txt p {
    opacity: .5;
    color: #2f632f;
}
.light .left .tab a {
    color: #1e1e1e;
}
.light .left .tab:hover li::first-letter {
    color: #2f632f;
}
.fullscreen {
    width: 100%;
    height: 100%; 
    background-color: #181818;
    color: #ddd;
}
.fullscreen .point {
    color: #3f9cd6;
}
.cont {
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
}
.light .left {
    background-color: #ddd;
    color: #2f632f;
}
.light .swiper-slide {
    background-color: #ddd;
    color: #2f632f;
}
.light .point {
    color: #3f9cd6;
}
.light .cover {
    background-color: #ddd;
}
.light .area {
    background-color: #ddd;
}
.light .toggler {
    background-color: #2f632f;
}
.light .toggler .circle {
    background-color: #ddd;
}
.light .nav {
    background-color: #ddd;
}
.light .nav h1 {
    color: #1e1e1e;
}
.light .cont p {
    color: #1e1e1e;
}
.light .cont h1 {
    color: #1e1e1e;
}
.light .point {
    color: #2f632f;
}
.light .fullscreen {
    background-color: #ddd;
    color: #1e1e1e;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    width: 100%;
    height: 100vh;
    text-align: center;
    /* font-size: 18px; */
    background: #1e1e1e;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.box {
    position: relative; 
}
.cover {
    width: 80vw;
    height: 90vh;
    position: absolute;
    background-color: #1e1e1e;
    top: 50%; 
    left: 15%;
    transform: translateY(-50%);
}
.area {
    width: 90%;
    height: 90%;
    position: absolute;
    background-color: #1e1e1e;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.base {
    /* background-color: #aaa; */
}
.base .cover > p {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: .7rem;
    font-weight: 500;
    text-align: right;
}
.base .cover > p:hover {
    font-weight: bold;
    cursor: url(../image/okay.png), auto;
}
.base .area {
    width: 90%;
    position: relative;
}
.base .area .base_wrap {
    height: auto;
    width: 90%;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
.base .area .base_wrap p:nth-child(1) {
    position: relative;
    text-align: left;
}
.base .area .base_wrap .p2 {
    position: relative;
    text-align: right;
}
.base .area .base_hover {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 6rem;
    color: #ddd;
    font-weight: 700;
    margin: 1rem 0;
    position: relative;
}
.base .area .base_hover2 {
    width: 100%;
    height: auto;
    display: none;
    text-align: center;
    font-size: 6rem;
    color: #ddd;
    font-weight: 700;
    margin: 1rem 0;
    position: relative;
}
.base .area .base_hover2 h1 {
    text-align: center;
    font-size: 6rem;
    color: #ddd;
    font-weight: 700;
    margin-top: 1rem;
    word-break: break-all;
}
.light .base .area .base_hover2 h1 {
    color: #1e1e1e;
}
.base .area p {
    font-size: 3.5rem;
    font-weight: bold;
    color: #ddd;
}
.light .base .area p {
    font-size: 3.5rem;
    font-weight: bold;
    color: #1e1e1e;
}

.base .area .base_wrap:hover {
    cursor: default;
}
/* Base Area */

.other1 {
    background-color: #1e1e1e;
}
#other .area {
    position: relative;
}
.other1 .area .other_wrap {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.other1 .area .other_wrap .other_wrap1 {
    width: 100%; 
    height: 60%;
}
.other1 .area .other_wrap .other_wrap1 .profic {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}
.other1 .area .other_wrap .other_wrap1 .profic > div {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.other1 .area .other_wrap .other_wrap1 .profic > div > .pic{
    background-image: url(../image/profic.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}
.other1 .area .other_wrap .other_wrap1 .info {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}
.other1 .area .other_wrap .other_wrap1 .info ul {
    width: 85%;
    height: auto;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.other1 .area .other_wrap .other_wrap1 .info ul li {
    display: flex;
    margin: 1rem 0;
}
.other1 .area .other_wrap .other_wrap1 .info ul li img {
    width: 2rem;
    height: 2rem;
}
.other1 .area .other_wrap .other_wrap1 .info ul li p {
    display: inline-block;
    line-height: 2rem;
    margin-left: 1rem;
    font-size: .9rem;
    font-weight: bold;
}
.other1 .area .other_wrap .other_wrap1 .info ul li p:hover {
    cursor: pointer;
}
.other1 .area .other_wrap .other_wrap1 .info ul li p span {
    font-family: 'GmarketSansLight';
}
.other1 .area .other_wrap .other_wrap2 {
    width: 100%; 
    height: 40%;
}
.other1 .area .other_wrap .other_wrap2 .one_line {
    width: 50%;
    height: 100%; 
    float: left;
    position: relative;
}
.other1 .area .other_wrap .other_wrap2 .one_line .line_wrap {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.other1 .area .other_wrap .other_wrap2 .one_line .line_wrap .typing {
    font-style: italic;
    font-size: 1rem;
    font-weight: bold;
}
.other1 .area .other_wrap .other_wrap2 .one_line .line_wrap .typing li {
    margin: .5rem 0;
}
.light .other1 .area .other_wrap .other_wrap2 .one_line .line_wrap .typing li {
    color: #1e1e1e;
}
.other1 .area .other_wrap .other_wrap2 .one_line .line_wrap .typing li:nth-child(3) {
    margin: 1rem 0;
    font-weight: normal;
}
.other1 .area .other_wrap .other_wrap2 .one_line .line_wrap img {
    width: 3rem;
    height: 3rem;
    opacity: .6;
}
.other1 .area .other_wrap .other_wrap2 .one_line .line_wrap img:nth-child(2) {
    width: 3rem;
    height: 3rem;
    opacity: .6;
}
.other1 .area .other_wrap .other_wrap2 .keyword {
    width: 50%;
    height: 100%;
    float: right;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
}
.other1 .area .other_wrap .other_wrap2 .keyword .kw_wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.other1 .area .other_wrap .other_wrap2 .keyword .kw_wrap ul {
    width: 100%;
    /* height: 15%; */
    text-align: center;
}
.other1 .area .other_wrap .other_wrap2 .keyword ul > li {
    width: 50%;
    display: inline-block;
    margin: .5rem 0;
}
.other1 .area .other_wrap .other_wrap2 .keyword ul > li:nth-child(2) {
    float: right;
}
.other1 .area .other_wrap .other_wrap2 .keyword ul > li > p {
    display: inline-block;
    background-color: transparent;

}
.other1 .area .other_wrap .other_wrap2 .keyword ul > li > p:hover {
    cursor: pointer;
    background-color: rgba(63, 156, 214, .7);
    transition: .5s;
}
.light .other1 .area .other_wrap .other_wrap2 .keyword ul > li > p:hover {
    cursor: pointer;
    background-color: rgba(47, 99, 47, .7);
    transition: .5s;
}
.typing-txt {
    display: none;
}
ul {
    list-style:none;
}
.typing ul li{
    display:block;
}
.typing ul li.on {  
    display: inline-block; 
    animation-name: cursor; 
    animation-duration: 0.3s; 
    animation-iteration-count: infinite; 
    } 
@keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff} 
    }

.other2 {
    background-color: #1e1e1e;
}
.other2 .area p {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin: 1.5rem 0;
    text-align: center;
}
.other2 .area .other2_wrap {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid blue; */
}
.other2 .area .other2_wrap .certi {
    width: 35%;
    height: 80%; 
    /* border: 1px solid #fff; */
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
.other2 .area .other2_wrap .certi .certi_wrap {
    font-family: 'GmarketSansLight';
    font-weight: normal;
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.other2 .area .other2_wrap .certi .certi_wrap p {
    display: block;
    font-size: 1.1rem;
    margin: 2rem 0;
}
.other2 .area .other2_wrap .abil {
    width: 55%;
    height: 80%; 
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}
.other2 .area .other2_wrap .abil p {
    display: inline-block;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
}
.other2 .area .other2_wrap .abil .circle_wrap {
    width: 100%; 
    height: 80%;
    position: absolute;
    bottom: 0;
}
.other2 .area .other2_wrap .abil .circle_wrap .c_wrap {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2.5% 0;
    align-content: space-between; 
}
.other2 .area .other2_wrap .abil .circle_wrap .c_wrap > div {
    width: 90%;
    height: 50%;
    display: flex;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
}
.other2 .area .other2_wrap .abil .circle_wrap .c_wrap > .c_wrap1 > .c_wrap1_lo {
    width: 85%;
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.other2 .area .other2_wrap .abil .circle_wrap .c_wrap > .c_wrap1 > .c_wrap1_lo > div {
    flex-grow: 1;
}
.other2 .area .other2_wrap .abil .circle_wrap .c_wrap > .c_wrap2 > .c_wrap2_lo {
    width: 85%;
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.other2 .area .other2_wrap .abil .circle_wrap .c_wrap > .c_wrap2 > .c_wrap2_lo > div {
    flex-grow: 1;
}
.other2 .area .other2_wrap .abil .circle_wrap .c_wrap > div:nth-child(2) {
    top: 50%;
}
.other2 .area .other2_wrap .abil .circle_wrap .c_wrap > div > div > .progress {
    width: 7.5rem;
    height: 7.5rem;
    float: left;
    position: relative;
}
.other2 .area .other2_wrap .abil .circle_wrap .c_wrap > div > div > .progress .progress_img {
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.other2 .area .other2_wrap .abil .circle_wrap .c_wrap > div > div > .progress .progress_img img {
    width: 100%;
}
/* other2 Area */

.label {
    background-color: #1e1e1e;
}
/* label area */
.label .pf_wrap {
    width: 100%;
    height: 80vh;
    position: relative;
}
.label .pf_wrap button {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    z-index: 99;
    background-color: transparent;
    border: none;
}
.label .pf_wrap button:hover {
    cursor: pointer;
}
.label .pf_wrap button:first-child {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}
.label .pf_wrap button:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
.label .pf_wrap .pfarea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    height: 80%;
    overflow: hidden;
}
.label .pf_wrap .pfarea .guide {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0;
}
.label .pf_wrap .pfarea .guide span {
    font-style: italic;
}
.label .pf_wrap .pfarea .pf_item {
    width: 200%;
    height: 80%;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
}
.label .pf_wrap .pfarea .pf_item li {
    float: left;
    width: 16%;
    height: 100%;
    position: relative;
    font-size: .7rem;
    opacity: .8;
    margin-left: .5%;
}
.label .pf_wrap .pfarea .pf_item li .pf_item_wrap {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.label .pf_wrap .pfarea .pf_item li .pf_kw {
    display: none;
}
.label .pf_wrap .pfarea .pf_item li .pf_preview {
    margin: auto;
    width: 11rem;
    height: 11rem;
    background-color: #000;
    border-radius: 50%;   
    opacity: .5;
}
.label .pf_wrap .pfarea .pf_item li a:hover {
    cursor: url(../image/lookinto.png), auto; 
}
.label .pf_wrap .pfarea .pf_item li .pf_preview {
    background-position: center center;
    background-size: cover;
}
.label .pf_wrap .pfarea .pf_item .pf1 .pf_preview {background-image: url(../image/label/museum.jpg);}
.label .pf_wrap .pfarea .pf_item .pf2 .pf_preview {background-image: url(../image/label/garden.jpg);}
.label .pf_wrap .pfarea .pf_item .pf3 .pf_preview {background-image: url(../image/label/tea.jpg);}
.label .pf_wrap .pfarea .pf_item .pf4 .pf_preview {background-image: url(../image/label/genesis.jpg);}
.label .pf_wrap .pfarea .pf_item .pf5 .pf_preview {background-image: url(../image/label/chanel.jpg);}

.label .pf_wrap .pfarea .pf_item li .pf_preview a {
    display: block;
    width: 11rem;
    height: 11rem;
    z-index: 99;
    background-color: transparent;
    border-radius: 50%;
}
.label .pf_wrap .pfarea .pf_item li p {
    font-family: 'GmarketSansLight';
    font-weight: bold;
    margin-top: 2rem;
}
.label .pf_wrap .pfarea .pf_item li.on .pf_item_wrap {
    width: 100%;
    height: auto;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}
.label .pf_wrap .pfarea .pf_item li.on .pf_preview a {
    display: block;
    width: 15rem;
    height: 15rem;
    z-index: 99;
    background-color: transparent;
    border-radius: 50%;
}
.label .pf_wrap .pfarea .pf_item li.on .pf_kw {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 80%;
    height: auto;
}
.label .pf_wrap .pfarea .pf_item li.on .pf_kw li {
    width: auto;
    height: 1rem;
    text-align: center;
}
.label .pf_wrap .pfarea .pf_item li.on .pf_kw li p {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    display: inline-block;
    margin: 0.3rem;
    text-align: center;
}
.label .pf_wrap .pfarea .pf_item li.on .pf_kw li a {
    font-family: 'GmarketSansLight';
    text-decoration: underline;
}
.label .pf_wrap .pfarea .pf_item li.on .pf_kw li p:last-child {
    font-weight: bold;
}
.label .pf_wrap .pfarea .pf_item li.on .pf_kw li p:hover {
    font-weight: bold;
    background-color:rgba(63, 156, 214, .3);
}
.light .label .pf_wrap .pfarea .pf_item li.on .pf_kw li p:hover {
    font-weight: bold;
    background-color:rgba(47, 99, 47, .3);
}
.label .pf_wrap .pfarea .pf_item li.on .pf_kw li p:last-child:hover {
    background-color:rgba(255, 0, 0, .3);
}
.label .pf_wrap .pfarea .pf_item li.on > .pf_item_wrap > div {
    width: 15rem;
    height: 15rem;
    opacity: 1;
}
.label .pf_wrap .pfarea .pf_item li.on > .pf_item_wrap > p {
    font-size: 1.2rem;
}
/* label area */

.direct {
    background-color: #1e1e1e;
}
.direct .area {
    position: relative;
}
.direct .area .direct_box {
    width: 45rem;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.direct .area .direct_box p {
    width: 45rem;
    height: auto;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}
.direct .area .direct_box p span {
    font-style: italic;
}
.direct .area .direct_box .direct_wrapper {
    width: 100%; 
    height: auto; 
    display: flex;
}
.direct .area .direct_box .direct_wrapper > div {
    width: 15rem;
    position: relative;
}
.direct .area .direct_box .direct_wrapper > div > p {
    opacity: 0;
    transition: 1s;
}
.direct .area .direct_box .direct_wrapper > div h5 {
    width: inherit;
    text-align: center;
    font-size: .8rem;
    font-weight: bold;
    margin-top: 10rem;
}
.direct .area .direct_box .direct_wrapper > div p {
    width: inherit;
    font-size: .8rem;
    font-weight: bold;
    margin-top: 1rem;
}
.direct .area .direct_box .direct_wrapper > div > .dr2 {
    font-weight: normal;
    font-size: .7rem;
}
.direct .area .direct_box .direct_wrapper > div > .direct_img {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    margin-top: 5rem;
    background-repeat: no-repeat;
    background-position: center center;
}
.light .direct .area .direct_box .direct_wrapper > div > .direct_img {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    margin-top: 5rem;
    background-repeat: no-repeat;
    background-position: center center;
}
.direct .area .direct_box .direct_wrapper > div > .direct_img:hover {
    cursor: url(../image/contact.png), auto;
}
.direct .area .direct_box .direct_wrapper .direct_1 .direct_img {
    background-image: url(../image/direct/d_phone.svg);
}
.direct .area .direct_box .direct_wrapper .direct_2 .direct_img {
    background-image: url(../image/direct/d_mail.svg);
}
.direct .area .direct_box .direct_wrapper .direct_3 .direct_img {
    background-image: url(../image/direct/d_insta.svg);
}
.light .direct .area .direct_box .direct_wrapper .direct_1 .direct_img {
    background-image: url(../image/direct/d_phone_l.svg);
}
.light .direct .area .direct_box .direct_wrapper .direct_2 .direct_img {
    background-image: url(../image/direct/d_mail_l.svg);
}
.light .direct .area .direct_box .direct_wrapper .direct_3 .direct_img {
    background-image: url(../image/direct/d_insta_l.svg);
}
.light .direct .area .direct_box .direct_wrapper > div h5 {
    color: #1e1e1e;
}
.light .direct .area .direct_box .direct_wrapper > div > .point {
    color: #2f632f;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
@media (min-width: 1200px) and (max-width: 1399px) {
    html, body {
        font-size: 17px;
    }
    .wrapper img {
        padding-top: 1rem;
    }
    /* Loading Area */
    .left .tab {
        font-size: 1.7rem;
        bottom: 23%;
        left: 5%;
    }
    .left .left_wrap .left_txt .appeal1 {
        width: 200%;
        top: 14%;
        font-size: 1.5rem;
    }
    .left .left_wrap .left_txt .appeal2 {
        width: 150%;
        left: -25%;
        bottom: 22%;
        font-size: 1.5rem;
    }
    /* Base Area */

    .other1 .area .other_wrap {
        width: 90%;
        height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .other1 .area .other_wrap .other_wrap1 .profic > div {
        width: 16rem;
        height: 16rem;
    }
    .other1 .area .other_wrap .other_wrap1 .info ul li {
        margin: .4rem 0;
    }
    .other1 .area .other_wrap .other_wrap1 .info ul li img {
        width: 1.9rem;
        height: 1.9rem;
    }
    .other1 .area .other_wrap .other_wrap1 .info ul li p {
        line-height: 2rem;
        margin-left: 1rem;
        font-size: .8rem;
    }
    .other1 .area .other_wrap .other_wrap2 .one_line .line_wrap .typing {
        font-size: .9rem;
    }
    .other1 .area .other_wrap .other_wrap2 .one_line .line_wrap .typing li {
        margin: .5rem 0;
    }
    .other1 .area .other_wrap .other_wrap2 .one_line .line_wrap .typing li:nth-child(3) {
        margin: .7rem 0;
    }
    .other1 .area .other_wrap .other_wrap2 .one_line .line_wrap img {
        width: 2.5rem;
        height: 2.5rem;
    }
    .other1 .area .other_wrap .other_wrap2 .one_line .line_wrap img:nth-child(2) {
        width: 2.5rem;
        height: 2.5rem;
    }
    .other1 .area .other_wrap .other_wrap2 .keyword {
        font-size: .9rem;
    }
    /* other1 */

    .other2 .area p {
        font-size: 1.5rem;
        margin: 1.5rem 0;
    }
    .other2 .area .other2_wrap .certi {
        width: 30%;
    }
    .other2 .area .other2_wrap .certi .certi_wrap p {
        font-size: 1rem;
    }
    .other2 .area .other2_wrap .abil {
        width: 58%;
    }
    .other2 .area .other2_wrap .abil .circle_wrap {
        width: 100%; 
    }
    .other2 .area .other2_wrap .abil .circle_wrap .c_wrap {
        width: 100%;
        margin: 2% 0;
    }
    .other2 .area .other2_wrap .abil .circle_wrap .c_wrap > div {
        width: 100%;
    }
    .other2 .area .other2_wrap .abil .circle_wrap .c_wrap > .c_wrap1 > .c_wrap1_lo {
        width: 95%;
    }
    .other2 .area .other2_wrap .abil .circle_wrap .c_wrap > .c_wrap2 > .c_wrap2_lo {
        width: 95%;
    }
    .other2 .area .other2_wrap .abil .circle_wrap .c_wrap > div:nth-child(2) {
        top: 55%;
    }
    .other2 .area .other2_wrap .abil .circle_wrap .c_wrap > div > div > .progress {
        width: 7rem;
        height: 7rem;
    }
    .other2 .area .other2_wrap .abil .circle_wrap .c_wrap > div > div > .progress .progress_img {
        width: 6rem;
        height: 5rem;
    }
    /* other2 Area */
    
    .label .pf_wrap button {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2.5rem;
    }
    .label .pf_wrap .pfarea .guide {
        font-size: 1.3rem;
    }
    .label .pf_wrap .pfarea .pf_item {
        width: 200%;
        height: 80%;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
    }
    .label .pf_wrap .pfarea .pf_item li {
        float: left;
        width: 16%;
        height: 100%;
        position: relative;
        font-size: .7rem;
        opacity: .8;
        margin-left: .5%;
    }
    .label .pf_wrap .pfarea .pf_item li .pf_item_wrap {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .label .pf_wrap .pfarea .pf_item li .pf_preview {
        width: 9.5rem;
        height: 9.5rem;
    }
    .label .pf_wrap .pfarea .pf_item li .pf_preview a {
        display: block;
        width: 9.5rem;
        height: 9.5rem;
    }
    .label .pf_wrap .pfarea .pf_item li p {
        margin-top: 2rem;
    }
    .label .pf_wrap .pfarea .pf_item li.on .pf_preview a {
        width: 13rem;
        height: 13rem;
    }
    .label .pf_wrap .pfarea .pf_item li.on .pf_kw {
        width: 100%;
        bottom: -1rem;
    }
    .label .pf_wrap .pfarea .pf_item li.on .pf_kw li {
        width: auto;
        height: 1rem;
        text-align: center;
    }
    .label .pf_wrap .pfarea .pf_item li.on > .pf_item_wrap > div {
        width: 13rem;
        height: 13rem;
        opacity: 1;
    }
    .label .pf_wrap .pfarea .pf_item li.on > .pf_item_wrap > p {
        font-size: 1.1rem;
    }
    /* label area */
    
    .direct .area .direct_box p {
        font-size: 2rem;
    }
    .direct .area .direct_box .direct_wrapper > div > .direct_img {
        width: 3rem;
        height: 3rem;
    }
    .light .direct .area .direct_box .direct_wrapper > div > .direct_img {
        width: 3rem;
        height: 3rem;
    }
@media (min-width: 1200px) and (max-width: 1400px) {

}

@media (min-width: 768px) and (max-width: 1199px) {
    /* html, body {
        font-size: 16px;
    }
    .left .left_wrap .left_txt .appeal1 {
        display: none;
    }
    .left .left_wrap .left_txt .appeal2 {
        display: none;
    }
    .other2 .area p {
        font-size: 1.8rem;
    }
    .other2 .area .other2_wrap {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .other2 .area .other2_wrap .certi {
        width: 100%;
        height: 20%; 
        position: absolute;
        top: 10%;
        left: 0;
    }
    .other2 .area .other2_wrap .certi > p {
        width: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
    .other2 .area .other2_wrap .certi .certi_wrap {
        width: 50%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
    }
    .other2 .area .other2_wrap .certi .certi_wrap p {
        display: block;
        font-size: 1.1rem;
        margin: 1.1rem 0;
    }
    .other2 .area .other2_wrap .abil {
        width: 100%;
        height: 80%; 
        position: absolute;
        bottom: 0;
        top: 60%;
        right: 0;
        transform: translateY(-50%);
    }
    .other2 .area .other2_wrap .abil p {
        width: 50%;
        display: inline-block;
        position: absolute;
        left: 0; 
        transform: none;
    }
    .other2 .area .other2_wrap .abil .circle_wrap {
        width: 100%; 
        height: 85%;
        position: absolute;
        bottom: 0;
    }
    .other2 .area .other2_wrap .abil .circle_wrap .c_wrap {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0;
        align-content: space-between; 
    }
    .other2 .area .other2_wrap .abil .circle_wrap .c_wrap > div {
        width: 90%;
        height: 50%;
        display: flex;
        position: absolute; 
        left: 50%;
        transform: translateX(-50%);
    }
    .other2 .area .other2_wrap .abil .circle_wrap .c_wrap > div > div > .progress .progress_img {
        width: 6.5rem;
        height: 6.5rem;
        top: 60%;
    }
    .label .pf_wrap button {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2.5rem;
    }
    .label .pf_wrap button:first-child {
        right: 3%;
    }
    .label .pf_wrap button:nth-child(2) {
        left: 3%;
    }
    .label .pf_wrap .pfarea .pf_item li {
        float: left;
        width: 16%;
        height: 100%;
        position: relative;
        font-size: .7rem;
        opacity: .8;
        margin-left: .5%;
    }
    .label .pf_wrap .pfarea .pf_item li .pf_item_wrap {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .label .pf_wrap .pfarea .pf_item li .pf_preview {
        margin: auto;
        width: 8rem;
        height: 8rem;
        background-color: #000;
        border-radius: 50%;   
        opacity: .5;
    }
    .label .pf_wrap .pfarea .pf_item li .pf_preview a {
        width: 8rem;
        height: 8rem;
        z-index: 99;
        background-color: transparent;
        border-radius: 50%;
    }
    .label .pf_wrap .pfarea .pf_item li p {
        font-weight: bold;
        margin-top: 2rem;
    }
    .label .pf_wrap .pfarea .pf_item li.on .pf_item_wrap {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .label .pf_wrap .pfarea .pf_item li.on > .pf_item_wrap > div {
        width: 9rem;
        height: 9rem;
        opacity: 1;
    }
    .label .pf_wrap .pfarea .pf_item li.on > .pf_item_wrap > p {
        font-size: 1.2rem;
    }
  

    .direct .area .direct_box {
        width: 45rem;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .direct .area .direct_box p {
        width: 45rem;
        height: auto;
        font-size: 2.1rem;
        font-weight: bold;
        text-align: center;
    }

    .direct .area .direct_box .direct_wrapper {
        width: 100%; 
        height: auto; 
        display: flex;
    }
    .direct .area .direct_box .direct_wrapper > div {
        width: 15rem;
        position: relative;
    }
    .direct .area .direct_box .direct_wrapper > div > p {
        opacity: 0;
        transition: 1s;
    }
    .direct .area .direct_box .direct_wrapper > div h5 {
        width: inherit;
        text-align: center;
        font-size: .8rem;
        font-weight: bold;
        margin-top: 10rem;
    }
    .direct .area .direct_box .direct_wrapper > div p {
        width: inherit;
        font-size: .8rem;
        font-weight: bold;
        margin-top: 1rem;
    }
    .direct .area .direct_box .direct_wrapper > div > .dr2 {
        font-weight: normal;
        font-size: .7rem;
    }
    .direct .area .direct_box .direct_wrapper > div > .direct_img {
        width: 3rem;
        height: 3rem;
        position: absolute;
        left: 50%; 
        transform: translateX(-50%);
        margin-top: 5rem;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .light .direct .area .direct_box .direct_wrapper > div > .direct_img {
        width: 3rem;
        height: 3rem;
        position: absolute;
        left: 50%; 
        transform: translateX(-50%);
        margin-top: 5rem;
        background-repeat: no-repeat;
        background-position: center center;
    } */
}
@media (min-width: 350px) and (max-width: 767px) {
    html, body {
        font-size: 12px;
    }
    .left .left_wrap .left_txt .appeal1 {
        display: none;
    }
    .left .left_wrap .left_txt .appeal2 {
        display: none;
    }
}